# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Environment
.env
.env.*

# Database
*.db
*.db-shm
*.db-wal

# Alembic
alembic/versions/*.pyc

# Logs & monitoring data
*.csv
/mnt/media/monitoring/data/

# Node / React
node_modules/
dist/
frontend/dist/
.npm/

# Vite
*.local
frontend/.env
frontend/.env.*
.evn.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.env
docker-compose.override.yml